version = "1.0"

[main]
name = "Tube configuration"
services = ["__APP__"]

    [main.config]
    name = "Configuration Options"

        [main.config.max_upload_size]
        ask = "Max upload size"
        type = "number"
        help = "Set max_upload_size to the maximum number of bytes you wish to impose on uploaded and imported videos. Upload(s)/Import(s) that exceed this size will by denied by the server. This is a saftey measure so as to not DoS the Tube server instance. Set it to a sensible value you see fit."
        bind = "max_upload_size:/var/www/__APP__/config.json"
        